<div class="modal fade" id="statusModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="statusModalTitle">區域狀態管理</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label fw-bold">狀態代碼 (ID)</label>
                    <input type="text" id="newStatusID" class="form-control" placeholder="例如: A">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">狀態名稱</label>
                    <input type="text" id="newStatusName" class="form-control" placeholder="例如: 正常使用">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                @* 🚩 這裡的 ID 必須是 btnConfirmStatus *@
                <button type="button" class="btn btn-primary w-100" id="btnConfirmStatus">確認儲存</button>
            </div>
        </div>
    </div>
</div>