@model TicketSalesSystem.Models.Programme

@{
    ViewData["Title"] = "新增";
}

<h1>新增</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ProgrammeID" class="control-label"></label>
                <input asp-for="ProgrammeID" class="form-control" />
                <span asp-validation-for="ProgrammeID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ProgrammeName" class="control-label"></label>
                <input asp-for="ProgrammeName" class="form-control" />
                <span asp-validation-for="ProgrammeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeDescription" class="control-label"></label>
                <textarea asp-for="ProgrammeDescription" class="form-control"></textarea>
                <span asp-validation-for="ProgrammeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input type="file" name="newCoverImage" id="newCoverImage" class="image-uploader" data-preview="#CoverImagePreview" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatImage" class="control-label"></label>
                <input type="file" name="newSeatImage" id="newSeatImage" class="image-uploader" data-preview="#SeatImagePreview" />
                <span asp-validation-for="SeatImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitPerOrder" class="control-label"></label>
                <input asp-for="LimitPerOrder" class="form-control" />
                <span asp-validation-for="LimitPerOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlaceID" class="control-label"></label>
                <select asp-for="PlaceID" class="form-control" asp-items="ViewBag.PlaceID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeStatusID" class="control-label"></label>
                <select asp-for="ProgrammeStatusID" class="form-control" asp-items="ViewBag.ProgrammeStatusID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h5>封面圖預覽：</h5>
        <img id="CoverImagePreview" class="img-fluid" />
        <h5>座位圖預覽：</h5>
        <img id="SeatImagePreview" class="img-fluid" />
    </div>
</div>

<div>
    <a asp-action="Index">回到活動總覽</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function setupImagePreview(selector)
        {
             $(selector).on('change',function()
                {
                    let file=this.files[0];
                    let $input=$(this);
                    let previewTarget =  $input.data('preview');

                    if(file==null)
                    {
                        return;
                    }
                    if(file.type!="image/jpeg"&&file.type!="image/png")
                    {
                        alert("請選擇jpeg或png格式的圖片檔案");
                        $input.val('');
                        $(previewTarget).attr('src','');
                        return;
                    }
                    let reader=new FileReader();
                    reader.onload=function(e)
                    {
                        $(previewTarget).attr('src',e.target.result);
                    };
                    reader.readAsDataURL(file);
                }
             );
        }
        setupImagePreview('.image-uploader');



    </script>
}
