@model TicketSalesSystem.Models.Programme

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Programme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgrammeID" />
            <div class="form-group">
                <label asp-for="ProgrammeName" class="control-label"></label>
                <input asp-for="ProgrammeName" class="form-control" />
                <span asp-validation-for="ProgrammeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeDescription" class="control-label"></label>
                <textarea asp-for="ProgrammeDescription" class="form-control"></textarea>
                <span asp-validation-for="ProgrammeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input asp-for="CoverImage" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatImage" class="control-label"></label>
                <input asp-for="SeatImage" class="form-control" />
                <span asp-validation-for="SeatImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitPerOrder" class="control-label"></label>
                <input asp-for="LimitPerOrder" class="form-control" />
                <span asp-validation-for="LimitPerOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceID" class="control-label"></label>
                <select asp-for="PlaceID" class="form-control" asp-items="ViewBag.PlaceID"></select>
                <span asp-validation-for="PlaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeStatusID" class="control-label"></label>
                <select asp-for="ProgrammeStatusID" class="form-control" asp-items="ViewBag.ProgrammeStatusID"></select>
                <span asp-validation-for="ProgrammeStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
