SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TR_Tickets_ReturnStock]
ON [dbo].[Tickets]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- =============================================
    -- 1. 處理庫存 Remaining 的增減
    -- =============================================

    -- A. 處理【新增 INSERT】：有人佔位，扣除庫存
    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        UPDATE ta
        SET ta.Remaining = ta.Remaining - i.Cnt
        FROM [TicketsArea] ta
        INNER JOIN (
            SELECT TicketsAreaID, COUNT(*) AS Cnt 
            FROM inserted 
            WHERE TicketsStatusID IN ('P', 'S', 'Y') 
            GROUP BY TicketsAreaID
        ) i ON ta.TicketsAreaID = i.TicketsAreaID;
    END

    -- B. 處理【刪除 DELETE】：資料被移除，歸還庫存
    IF NOT EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        UPDATE ta
        SET ta.Remaining = ta.Remaining + d.Cnt
        FROM [TicketsArea] ta
        INNER JOIN (
            SELECT TicketsAreaID, COUNT(*) AS Cnt 
            FROM deleted 
            WHERE TicketsStatusID NOT IN ('C', 'N') 
            GROUP BY TicketsAreaID
        ) d ON ta.TicketsAreaID = d.TicketsAreaID;
    END

    -- C. 處理【更新 UPDATE】：狀態轉換 (有效 <-> 無效)
    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        -- 有效變無效 (如: P -> C)：還庫存 (+1)
        UPDATE ta
        SET ta.Remaining = ta.Remaining + cancelled.Cnt
        FROM [TicketsArea] ta
        INNER JOIN (
            SELECT i.TicketsAreaID, COUNT(*) AS Cnt
            FROM inserted i JOIN deleted d ON i.TicketsID = d.TicketsID
            WHERE i.TicketsStatusID IN ('C', 'N') AND d.TicketsStatusID NOT IN ('C', 'N')
            GROUP BY i.TicketsAreaID
        ) AS cancelled ON ta.TicketsAreaID = cancelled.TicketsAreaID;

        -- 無效變有效 (如: C -> S)：扣庫存 (-1)
        UPDATE ta
        SET ta.Remaining = ta.Remaining - restored.Cnt
        FROM [TicketsArea] ta
        INNER JOIN (
            SELECT i.TicketsAreaID, COUNT(*) AS Cnt
            FROM inserted i JOIN deleted d ON i.TicketsID = d.TicketsID
            WHERE i.TicketsStatusID NOT IN ('C', 'N') AND d.TicketsStatusID IN ('C', 'N')
            GROUP BY i.TicketsAreaID
        ) AS restored ON ta.TicketsAreaID = restored.TicketsAreaID ;
    END

    -- =============================================
    -- 2. 自動切換票區狀態 (I <-> O)
    -- =============================================
    -- 邏輯：根據最新的 Remaining 數值，自動修正 TicketsAreaStatusID
    
    UPDATE ta
    SET ta.TicketsAreaStatusID = CASE 
        -- 沒票了且目前不是完售狀態 -> 改成 'O'
        WHEN ta.Remaining <= 0 AND ta.TicketsAreaStatusID != 'O' THEN 'O'
        
        -- 有票了且目前是完售狀態 -> 改回 'I' (販售中)
        WHEN ta.Remaining > 0 AND ta.TicketsAreaStatusID = 'O' THEN 'I'
        
        -- 其他情況保持不變
        ELSE ta.TicketsAreaStatusID 
    END
    FROM [TicketsArea] ta
    INNER JOIN (
        -- 只針對本次有變動的區域進行檢查，效能較好
        SELECT TicketsAreaID FROM inserted
        UNION
        SELECT TicketsAreaID FROM deleted
    ) AS changed ON ta.TicketsAreaID = changed.TicketsAreaID
    WHERE ta.TicketsAreaStatusID IN ('I', 'O', 'A'); 

END
GO